{% extends "base.html" %}
{% load static %}

{% block body %}
<body style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'core/img/background/bg_4.jpg' %}'); background-size: cover; background-attachment: fixed; height: 100vh; overflow: hidden;">

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh; padding-bottom: 200px;">
    <div class="row w-100 justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg p-5" style="background-color: rgba(255, 255, 255, 0.9); border-radius: 20px; transition: transform 0.3s ease-in-out;">

                <h4 class="alert alert-info text-center" style="color: black; background-color: transparent; border-color: transparent; font-weight: bold; margin-bottom: 20px;">Password Reset</h4>

                <p class="text-center" style="color: black; font-weight: bold; margin-bottom: 30px;">
                    Your password has been set. You may go ahead and log in now.
                </p>

                <p class="text-center">
                    <a href="{{ login_url }}" class="btn btn-primary" style="padding: 12px 30px; border-radius: 30px; background-color: #007bff; border-color: #007bff; transition: background-color 0.3s ease-in-out; font-weight: bold;">
                        Log in
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
